//
// Objects | Case filter
//

.case-filter {
  @include title;
  @include title--m;
}

.case-filter__inner {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet-up {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.case-filter__description {
  padding-right: 10px;
  color: $color--grey;
}

.case-filter__dropdown {
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: 1.5;
}

.case-filter__dropdown-item {
}

.case-filter__menu {
  position: relative;
  z-index: 2;
  min-width: 155px;
  &:hover,
  &:focus {
    cursor: pointer;
    .case-filter__dropdown {
      display: block;
      width: calc(100% + 20px);
      position: absolute;
      top: 0;
      padding-top: 50px;
      left: -10px;
      min-width: 155px;
      font-size: 20px;
    }
  }
}

.case-filter__menu--category {
  margin-right: 5px;
}

.case-filter__dropdown {
  display: none;
}

.case-filter__dropdown-item {
  padding: 10px;
  background: $color--white;
}

.case-filter__row {
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  z-index: 3;
  &:first-child {
    z-index: 4;
  }
}

.case-filter__all {
  border-bottom: 1px solid $color--black;
}
