//
// Objects | Clients
//

.clients {
  background-color: $color--grey-900;
  text-align: center;
  position: relative;

  @include tablet-up {
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 100%;
      background: $color--white;
      top: 0;
      right: 0;
    }
  }
}

.clients__inner {
  padding-top: $spacing--m;
  padding-bottom: $spacing--m;
}

.clients__header,
.clients__intro {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.clients__intro {
  padding-top: 20px;
  padding-bottom: 80px;
}

.clients__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.clients__list-item {
  flex-basis: 100%;
  padding: 0 $gutter--s $gutter--s $gutter--s;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet-up {
    flex-basis: 33.3%;
  }
  @include desktop-up {
    flex-basis: 25%;
  }
}
