//
// Objects | Header
//

.header--main {
  min-height: 100vh;
  border: $gutter--s solid $color--white;
  background: $color--grey;
  display: flex;
  align-items: center;
}

.header--main__title {
  color: $color--black;
}
