//
// Objects | Navigation
//

.topnav {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: $color--white;
  border-bottom: 1px solid $color--grey-900;

  &--show {
    .topnav__nav {
      opacity: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      pointer-events: all;
      @include tablet-up {
        border: 20px solid $color--white;
      }
    }

    .topnav__list {
      transform: scale(1);
    }
    .topnav__list-item {
      opacity: 1;
      transform: scale(1);
    }

    .topnav__hamburger {
      background-color: $color--white;
    }
    .topnav__hamburger--first {
      transform: translateY(3px) rotate(45deg);
    }
    .topnav__hamburger--second {
      transform: translateY(3px) rotate(-45deg);
    }
    .svg--logo {
      fill: $color--white;
    }
    .topnav__fade {
      opacity: 1;
    }
    .svg--logo {
      transform: scale(1.5);
    }

    @include tablet-up {
      .topnav__logo,
      .topnav__toggle {
        transform: translateY(35px);
      }
    }
  }

  .topnav__list-inner:hover,
  &:focus {
    .topnav__list-link {
      color: $color--grey;
      &:hover,
      &:focus {
        color: $color--white;
      }
    }
  }
}

.topnav__inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include tablet-up {
    padding-right: #{$gutter--m * 2};
  }
}

.topnav__logo {
  position: relative;
  z-index: 10;
  line-height: 1;
  transition: transform 500ms ease;
}

.topnav__nav {
  pointer-events: none;
  display: block;
  opacity: 0;
  transition: opacity 300ms ease;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: $color--black;
}

.topnav__list {
  @include font-size(110px);
  text-align: right;
  @include title;
  transform: scale(1.1);
  transition: transform 300ms ease;
}

.topnav__list-item {
  line-height: 1.3;
  border-bottom: 1px solid $color--grey;
  opacity: 0;
  transform: scale(1.1);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: 175ms;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: calc(100ms + #{$i * 90ms});
    }
  }
}

.topnav__list-link {
  text-decoration: none;
  color: $color--white;
  transition: color 300ms ease;
}

.topnav__toggle {
  width: 20px;
  height: 8px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: transform 500ms ease;
  display: inline-block;
}

.topnav__hamburger {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $color--black;
  transition: transform 300ms ease, background-color 300ms ease;
  top: 0;
}

.topnav__hamburger--second {
  transform: translateY(6px);
}

.svg--logo {
  width: 50px;
  fill: $color--black-100;
  height: 14px;
  transition: fill 500ms ease, transform 300ms ease 100ms;
  transform-origin: left;
}

.topnav__list-inner {
  padding-left: $gutter--m;
  padding-right: $gutter--m;
  padding-top: 50px;
  padding-bottom: 50px;
  @include tablet-up {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include desktop-up {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.topnav__fade {
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease;
  position: fixed;
  bottom: 0;
  left: 20px;
  width: calc(100% - 80px);
  height: 125px;
  background-image: linear-gradient(to top, $color--black, transparent);
  @include tablet-up {
    bottom: 20px;
  }
}
