//
// Objects | Quote
//

.quote {
}

.quote__inner {
  padding-top: $spacing--m;
  padding-bottom: $spacing--m;
  border-top: 1px solid $color--grey-500;
}

.quote__content {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.quote__text {
  @include title;
  font-size: 36px;
}

.quote__info {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  margin-top: 18px;
}
