//
// Tools | Typography
//

@mixin title {
  font-weight: 400;
  font-family: $font--teko;
  line-height: $lineheight--s;
  margin: 0;
}

@mixin title--xl {
  @include font-size(400px);
}

@mixin title--l {
}

@mixin title--m {
  font-size: 30px;
}
